{% extends "user/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
body{
	background-color: #f1f3f6;
}

.card{
	animation-name: fadeIn;
	animation-duration: 1s;
	margin: 20px; 
}

</style>
<div class="body w-100 d-flex">

	<div class="card" style="width: 30rem;">
	  <div class="card-body">
	    <h4 class="card-title">User Login</h4>
	    <hr>
	    <p>
	    	You have successfully logged out.<br><br>
	    	<a class="mr-2 btn btn-info my-2 my-sm-0" href="{% url 'login' %}">Login Again</a>
	    </p>
	  </div>
	</div>
</div>
{% endblock %}